defaults:
  cpu: "1"
  memory: "1g"
  disk: "5g"

profiles:
  nunu-bot:
    gateway_port: 8642
    dashboard_port: 9119
    soul: ./souls/default.md
    env:
      FEISHU_APP_ID: cli_aa8c0aa4ef0a9e15
      FEISHU_APP_SECRET: ${NUNU_FEISHU_APP_SECRET}
  tina-bot:
    gateway_port: 8643
    dashboard_port: 9120
    soul: ./souls/default.md
    env:
      FEISHU_APP_ID: cli_aa8c610108e11e17
      FEISHU_APP_SECRET: ${TINA_FEISHU_APP_SECRET}
  sophie-bot:
    gateway_port: 8643
    dashboard_port: 9120
    soul: ./souls/bird.md
    env:
      FEISHU_APP_ID: cli_aa8464e3a138de17
      FEISHU_APP_SECRET: ${SOPHIE_FEISHU_APP_SECRET}
